body.woocommerce-cart {

	section#layout {
		max-width: 960px;
		margin: 0 auto;
		padding: 80px 25px 80px 25px;
	}

	form {

		.row {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.columns {
				float: none;
				width: 100%;

				&.cart-collaterals {
					padding: 50px 0 0 0;
				}

			}			
		}

	}

	@media only screen and (max-width: 800px) {

		.cart-wrap .shop_table thead tr th.product-thumbnail,
		.cart-wrap .shop_table tbody tr td.product-thumbnail {
		    display: none;
		}

	}


	.cart-wrap .shop_table {
		thead th,
		tbody tr .product-name a,
		tbody tr .product-price,
		tbody tr .product-subtotal {
			font-family: $proxima-nova;
		}

		.product-name {
			min-width: 150px
		}

		tbody tr {
			.product-name a,
			.product-price,
			.product-subtotal,
			.product-remove a {
				font-family: $proxima-nova;
			}

			.product-remove a {
				line-height: 36px;
			}

			.product-thumbnail  {
				padding: 10px 0;

				.image-cover {
					border: none;
					margin: 0;
				}
			}

			.quantity {
				border: 1px solid #e5e5e5;
			}
		}
 

	}

	.cart-wrap .coupon {
		margin: 0;
	}


	.coupon {
		max-width: 400px;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.box-name {
			font-family: $proxima-nova;
			font-size: 16px;
			padding: 0 0 10px 0;
			width: 100%;
		}

		.dfd-coupon-wrap {
			padding: 0;
			float: none;
			width: 100%;

			input[type="text"] {
				border-radius: 0;
			}

			span {
				display: block;
			}
		}
	
		.dfd-submit-wrap {
			padding: 40px 0 0 0;
			width: 100%;

			.button.button-grey {
				border-radius: 0;
				border: 2px solid $green;
				font-family: $proxima-nova;
				color: $green;
				min-width: 150px;
				text-align: center;


				&:hover {
					background: $green;
					color: $white;
				}
			}
		}


		input[type="text"] {
			max-width: 60%;
			font-family: $jenson;
			font-size: 20px;

			&::placeholder {
				font-family: $jenson;
				font-size: 20px;
			}
		}

		input[type="submit"] {
			border-radius: 0;
			border: 2px solid $green;
			font-family: $proxima-nova;
			color: $green;
			padding: 0 16px;
			text-align: center;
			background: $white;

			&:hover {
				background: $green;
				color: $white;
			}
		}
	}



	.cart-wrap .container-shortcodes div.block-title {
		display: none;
	}



	.cart-wrap .columns.cart-collaterals {

		.cover:before,
		.cover:after {
			display: none;
		}

		.box-name, table, td, th, p {
			font-family: $proxima-nova;

		}

		th, td {
			vertical-align: top !important;
		}

		table tbody tr td span.amount {
			font-family: $proxima-nova;
		}

		th {
			font-weight: bold;
		}

		.shipping {
			p {
				line-height: 1.125em;
			}

			.woocommerce-shipping-contents {

				small {
					font-size: 90%;
					display: block;
					font-weight: bold;

					& + small {
						padding: 15px 0 0 0;
					}
				}

			}


		}




		.checkout-button {
			background: $green;
			font-family: $proxima-nova;
			letter-spacing: 0;
			line-height: 1em;
			padding-top: 10px;

			@media screen and (min-width: 362px) {
				padding-top: 16px;
			}


			&:before {
				color: $white;
			}
		}

	}
	.cart-wrap .columns.cart-collaterals .cover {
		display: flex;
		flex-direction: columns;
		flex-wrap: wrap;

		& > * {
			width: 100%;
		}

		.checkout-button {
			max-width: 320px !important;
			margin-right: auto;
		}
	}

	.cross-sells {
		order: 10;
		padding: 40px 0 0 0;
	    border-top: 1px solid #fff;
    	margin: 40px 0 0 0;

		div.block-title {
			font-family: $proxima-nova;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			padding: 0 0 20px 0;
		}

		.products {

			.product {
				width: 100%;
				margin: 0 0 40px 0;
				
				@include mobile-landscape {
					width: 47.5%;
				}
			}
		}
	}


	@media screen and (max-width: 639px) {
		.cart-wrap .shop_table,
		.cart-wrap .shop_table tr,
		.cart-wrap .shop_table td,
		.cart-wrap .shop_table tbody,
		.cart-wrap .shop_table thead,
		.cart-wrap .shop_table th {
			display: block;
		}

		td.product-subtotal {
			display: none !important;
		}


		.cart-wrap .shop_table thead tr {
			display: flex !important;;
			padding: 10px 10px;

			& > th {
				width: 33.3333%;
				min-width: auto !important;
			}

			.product-subtotal,
			.product-thumbnail,
			.product-remove {
				display: none;
			}
		}

		.cart-wrap .shop_table thead {
			display: none;
		}

		.cart-wrap .shop_table tbody tr {
			display: flex !important;;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 10px;

			& > * {
				width: 100%;
				min-width: auto !important;
			}

			.product-price,
			.product-quantity,
			.product-remove {
				width: 27.5%;
			}

			.variation {
				padding: 10px 0 0 0;
				
				dt {
					font-family: $proxima-nova;
					font-weight: bold;
				}

				dd {
					p {
						font-family: $proxima-nova;
					}
					
				}
			}

			.product-price {
				font-size: 18px;
			}

			.product-quantity {
				.quantity {
					margin: 0 auto;
					float: none;
				}
			}

			.product-remove {
				display: flex;
				justify-content: flex-end;
			}
		}


	}


}



	tr.shipping {
		ul {
			padding: 0 0 15px 0 !important;

			li {
				label {
					font-family: $proxima-nova !important;
				}
			}
		}
	}