body.woocommerce-checkout #main-content > .woocommerce {

	.dfd-coupon-wrap .checkout_coupon .input-text {
		border-radius: 0 !important;
		font-family: $jenson;
		font-size: 20px !important;

		&:placeholder {
			font-family: $jenson;
			font-size: 20px !important;
		}
	}

	.dfd-coupon-wrap {
		width: 100%;
	}

	.dfd-login-wrap {
		padding: 0 10px 80px 10px !important;
		margin: 0 !important;
		width: 100%;

		.login {

			p {
				font-family: $proxima-nova;
			}
			label {
				font-family: $proxima-nova !important;
				font-weight: bold;
				margin: 0 0 3px 0 !important;
			}

			.input-text {
				border-radius: 0 !important;
				background: $white !important;
				font-family: $proxima-nova !important;

				&:placeholder {
					font-family: $jenson !important;
				}
			}
			.button {
				background: $green;
				font-family: $proxima-nova;
				letter-spacing: 0;
				height: 32px;
				line-height: 32px;
			}

			
		}
	}

	.checkout.woocommerce-checkout {

		h3 {
			font-family: $proxima-nova !important;
		}

		.input-text {
			border-radius: 0 !important;
			background: $white !important;
			font-family: $proxima-nova !important;

			&:placeholder {
				font-family: $jenson !important;
			}
		}

		#customer_details label,
		#customer_details .validate-required > label {
			font-family: $proxima-nova;
			font-weight: bold;
			margin: 0 0 3px 0 !important;
		}

		#customer_details .create-account > label:before {
			display: none !important;
		}



		.woocommerce-additional-fields {
			padding: 60px 0 0 0;
		}


		.woocommerce-checkout-payment:after {
			display: none !important;
		}
		#order_review .woocommerce-checkout-review-order-table {

			&:before,
			&:after {
				display: none !important;
			}

			.cart_item, .cart-subtotal, .order-total {
				.box-name, table, td, th {
					font-family: $proxima-nova !important;
				}
			}


			table tbody tr td span.amount {
				font-family: $proxima-nova;
			}

			.checkout-button {
				background: $green;
				font-family: $proxima-nova;
				letter-spacing: 0;

				&:before {
					color: $white;
				}
			}
		}

		.wc_payment_method.payment_method_cheque {
			display: none;
		}

		#order_review #payment .place-order .button {
			background: $green;
			padding: 0;
		}

	}


}

body.woocommerce-checkout #main-content > .woocommerce .checkout.woocommerce-checkout #order_review .woocommerce-checkout-review-order-table tfoot tr td .amount {
		font-family: $proxima-nova !important;
}

body.woocommerce-checkout #main-content > .woocommerce .checkout.woocommerce-checkout #order_review #payment .payment_methods label {
	font-family: $jenson !important;
}