body.the-collections {


	#layout.blog-page #main-content {
		padding: 0 0 80px 0;
	}

	.vc_section {
		max-width: 960px;
		margin: 0 auto;
		font-family: $jenson;
		padding: 80px 25px 80px 25px;

		& + .vc_section {
			border-top: 1px dotted #d5d5d5;
		}


		h2 {
			font-family: $jenson;
			font-size: 3em;
			font-weight: normal;
			font-style: italic;
			letter-spacing: 0;
		}

		p, li {
			font-family: $jenson;
			font-size: 1.5em;
			line-height: 1.25em;
		}

		.vc_single_image-wrapper  {
			padding: 20px 0 40px 0;
		}
	}

	#main-content > .vc_section:first-of-type {
		.vc-row-wrapper:first-of-type .twelve.columns {
			padding: 0 0 80px 0;
		}
	}

	.ten, .row .ten {
		width: 100%;
	}

	.two, .row .two {
		width: 100%;
	}

	.add_to_cart_inline {
		max-width: 240px;
		border: none !important;
		margin-left: auto;
		text-align: right;

		.amount {
			font-style: italic;
			padding: 0 0 5px 0;

			.woocommerce-Price-currencySymbol {
				font-style: normal;
			}
		}

		a {
			background: $green;
			color: $white;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: all .3s ease;
			border-radius: 3px;
			opacity: 0.9;
			margin: 5px 0 0 0;


			&:hover {
				color: $white;
				opacity: 1;
			}

			&:before {
				display: none;
			}

			span {
				display: block;
				font-family: $proxima-nova;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				flex: 1;
				font-size: 0.875em;
				letter-spacing: 0.1em;
			}

			i {
				width: 50px;
				height: 50px;
				border-right: 1px solid rgba(255,255,255,0.2);
				display: flex;
				align-items: center;
				justify-content: center;

				&:before {
					font-size: 20px;

				}
			}
		}
	}

}