

/* Footer
-------------------------------------------------------------------*/
body #footer {
	background: #1a1a1a !important;
}


 body #sub-footer {
 	display: none;
 }

 #footer {
 	.motto {
 		& > div:before,
 		& > div:after {
 			display: none;
 		}
 		& > div {
 			filter: none;
 		}

 		h5 {
 			font-family: $jenson !important;
 			font-size: 1.25em !important;
 			font-style: italic !important;
 			opacity: 0.5;
 			text-transform: none;
 			letter-spacing: 0;
 			font-weight: normal;
 		}
 	}
 }

