/* Header
-------------------------------------------------------------------*/
body #header-container.header-style-5 #header {
  background-image: url(/wp-content/uploads/2017/07/dark-bg.png) !important;
  background-position: center center !important;
  background-repeat: repeat !important;
  background-size: inherit !important;

  .header-wrap > .row:last-child .icon-mobile-menu span.icon-wrap {
    background: $white;
  }

  .nav-menu .mega-menu-item {
    padding: 0 !important;

    .item-title {
      font-family: $jenson;
      font-weight: normal;
      letter-spacing: 0;
      text-transform: none;
      font-size: 16px;
      padding: 5px 0 !important;
      height: auto !important;
      border-top: 1px solid rgba(221, 196, 109, 0.2) !important;
      opacity: 0.8;
      line-height: 38px !important;
    }
  }

  .nav-menu div.sub-nav ul {
    width: 250px !important;

    &:before {
      background-image: url(/wp-content/uploads/2017/07/subnav-bg.png) !important;
      background-position: center center !important;
      background-repeat: repeat !important;
      background-size: inherit !important;
      border-right: 1px solid #D5CAB7 !important;
    }

    li {
      background: transparent !important;

      a {
        font-family: $jenson;
        font-weight: normal;
        letter-spacing: 0;
        text-transform: none;
        font-size: 16px;
        padding: 10px 50px !important;
        height: auto !important;
        color: #1a1a1a;
        border-top: 1px dotted rgba(26, 26, 26, 0.2) !important;

        &:hover {
          color: $white !important;
        }
      }

      &:first-of-type {
        a {
          border-top: none !important;
        }
      }
    }

  }

  .nav-menu .mega-menu-item:first-of-type {

    .item-title {
      border-top: none !important;
    }
  }

   	.nav-menu .mega-menu-item {
   		background: transparent;
   		border: none;

   		&:hover {
   			background: transparent !important;
   		}

   		a {
   		}

   		& + .mega-menu-item {

			a:hover {
			}
   		}


	}


  .dfd-header-bottom {
    padding: 0 10px !important;
    .login-header {
      border-bottom: 1px solid rgba(221, 196, 109, 0.2) !important;
    }

    .dfd-icon-shopping_bag_2:before {
      font-size: 20px !important;
    }

    .total_cart_header .woo-cart-contents .woo-cart-items i {
      margin-top: -6px;
    }

  }

}

@media only screen and (min-width: 768px) {

  #side-area .nav-menu li:hover > a, #header-container.header-style-5 .nav-menu li:hover > a, #header-container.header-style-6 .nav-menu li:hover > a, #header-container.header-style-7 .nav-menu li:hover > a, #header-container.header-style-8 .nav-menu li:hover > a {
    background-image: url(/wp-content/uploads/2017/07/dark-bg.png) !important;
    background-position: center center !important;
    background-repeat: repeat !important;
    background-size: inherit !important;
    color: $white !important;
    background-color: transparent !important;
  }

}


.logo-for-panel img {
	height: auto !important;
}

#sidr {
	background: #1a1a1a !important;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75);

  ul li {
    font-family: $jenson !important;
  }

	.dfd-search-mobile-show {
		display: none !important;
	}

	ul.sidr-dropdown-menu {
		border: none;
		padding: 0 20px;
	}

	.sidr-inner > ul > li > a {
		font-family: $jenson;
		font-size: 16px;
   		border-top-color: rgba(255, 255, 255, 0.1) !important;
   		padding: 0 5px;

		&:hover {
			background: transparent;
	   		border-top-color: rgba(255, 255, 255, 0.1) !important;

		}
	}

}

.forum-login {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid $white;
  a {

    color: $white;
    font-family: $proxima-nova;
    border-bottom: 1px dotted;

  }
}


.login-submit {
  .button {
    background: $green;
    color: $white;
    font-family: $proxima-nova !important;
    font-weight: bold !important;
    font-size: 12px !important;
  }
}

.login-lost-password {
  background: #1b1b1b;
  margin: 0;
  padding: 0 20px 20px 20px !important;
  width: 100% !important;
  margin: -1px 0 0 0 !important;


  a {
    color: $white !important;
    text-decoration: underline;
    display: inline-block;
    font-family: $proxima-nova !important;   

    &:before {
      display: none !important;

    }
  }

}

