/* Home
-------------------------------------------------------------------*/
body.home {

	#footer-wrap {
		display: none;
		
	}
	#layout.blog-page #main-content {
		padding: 0 0 80px 0;
	}

	.wpb_layerslider_element.hero {
		max-width: 100%;
		overflow: hidden;
	}	

	.letter-body {
		max-width: 720px;
		margin: 0 auto;
		font-family: $jenson;
		padding: 80px 10px 0 10px;

		h2 {
			text-align: center;
			text-transform: uppercase;
			font-size: 1.5em;
			font-weight: normal;
			letter-spacing: 0.1em;
			font-family: $jenson;
			padding: 0 0 20px 0;
			margin: 0;
			line-height: 1em;
		}

		h3 {
			text-align: center;
			font-size: 1.125em;
			font-weight: normal;
			color: #939393;
			font-style: italic;
			letter-spacing: 0.05em;
			font-family: $jenson;
			padding: 0 0 40px 0;;
			border-bottom: 1px solid #E5E5E5;
			margin: 0 0 20px 0;
			line-height: 1em;
		}

		a {
			font-size: inherit !important;
			font-family: inherit !important;
			color: $green !important;
			text-decoration: underline !important;

			&:before {
				display: none;
			}
		}

		p {
			font-family: $jenson;
			font-size: 1.5em;
			line-height: 1.5em;
			margin: 0;
			padding: 0;

			&:first-letter {
				font-size: 4.875em;
				line-height: 1em;
				float: left;
				margin: 0.05em 0.125em 0 0;
			}

			& + p {
				padding: 10px 0 0 0;
				text-indent: 40px;

				&:last-of-type {
					text-indent: 0;
					padding: 40px 0 0 0;
				}

				&:first-letter {
					font-size: 1em;
					line-height: 1.5em;
					margin: 0;
					float: none;

				}
			}
		}

	}

	.signature {
		max-width: 720px;
		margin: 0 auto;
		padding: 20px 10px 80px 10px;

	}

}

