
/* Products
-------------------------------------------------------------------*/
body.the-book-shop {

	section#layout .vc-row-wrapper:first-of-type {
		padding-top: 0 !important;
	}

	h3.widget-title.uvc-main-heading {
		font-family: $proxima-nova !important;
		letter-spacing: 0;
		font-weight: 400;
		font-size: 1.5em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	h5.widget-title.uvc-main-heading {
		font-family: $proxima-nova !important;
	}

	.wpb_wrapper h3.widget-sub-title {
		font-family: $jenson !important;
		font-size: 1.25em;
		padding: 10px 0;
		font-style: italic !important;
	}

	.vc-row-wrapper {
		padding: 0 !important;
	}

}


.products.row {

	.product {
		padding: 25px;
		margin-bottom: 25px !important;

		@include tablet-portrait {
			padding: 50px;
		}
		

		&:hover {
			.box-name a {
				color: #242424;
			}
		}

		.dfd-prod-lightbox {
			display: none !important;
		}

		.woo-cover .buttons-wrap a.add_to_cart_button,
		.woo-cover .buttons-wrap a.added_to_cart {
			border: none;
			border-radius: 0 !important;
			margin: 0 !important;
			background: #221033 !important;
			color: $white !important;
			font-weight: bold !important;
			font-family: $proxima-nova !important;


			i {
				color: $white !important;
			}
			span {
				font-family: $proxima-nova;
				font-weight: bold;
				color: $white !important;

			}
		}

		.heading {

			.byline.category {
				margin: 0 !important;
				a {
					background: #2D3625 !important;
					font-family: $proxima-nova !important;
					font-weight: bold !important;
					text-transform: uppercase !important;

					&:hover {
						color: $white !important;
					}
				}
				
			}
		}

		.box-name {
			
			a {
				font-family: $jenson;
				font-weight: normal;
				font-size: 22px;
				line-height: 1.125em;
				color: #2a2a2a !important;
			}

		}


		.subtitle {
			color: #2a2a2a;
			font-family: $jenson;
			font-weight: normal;
			letter-spacing: 0;
			
		}


		.price-wrap {
			padding: 20px 0 0 0;

			.price {
				.amount {
					font-family: $proxima-nova !important;
					font-size: 14px !important;
				}
				
			}
			.from {
				font-family: $jenson !important;
				color: #8a8a8a !important;
				text-transform: lowercase !important;
				font-weight: normal !important;

			}
		}

	}
}
