
/* Sidebars
-------------------------------------------------------------------*/
#right-sidebar {
	padding: 40px 0 !important;

	& > * {
		padding-left: 40px !important;
	}

	.widget h3.widget-title,
	.module .widget h3.widget-title {
		font-family: $proxima-nova;
		letter-spacing: 0;
		font-size: 14px;
	}


}


#layout .widget + .widget {
	margin-top: 0 !important;
	padding-top: 80px;
}

.widget.widget_product_categories {
	.widget-title {
		display: none;
	}
}

.widget_price_filter {
	.price_slider_amount input[type="text"] {
		border-radius: 0 !important;
		text-align: center;
		font-family: $proxima-nova;
		font-weight: bold;
	}
}

.woocommerce-page .widget_price_filter .price_slider_wrapper .price_slider.ui-widget-content.ui-slider .ui-slider-range {
	background: #3f3f3f !important;
}
.woocommerce-page .widget_price_filter .price_slider_amount .button {
	font-style: italic !important;

	&:hover {
		color: #3f3f3f !important;
	}

	&:before {
		border-bottom-color: #3f3f3f !important;
	}
}


.widget.widget_product_categories > ul > li {
	padding: 0 0 10px 0;
	border: none;

	&:hover {
		padding-left: 0 !important;
		a {
			color: #242424 !important;
		}
	}

	a {
		font-family: $proxima-nova !important;

		&:hover {
			text-decoration: underline;
		}
	}

	&.cat-parent {
		border: none;
		padding: 0;

		& + .cat-parent {
			padding: 40px 0 0 0;
		}

		& > a {
			font-family: $proxima-nova;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	&:before {
		display: none;
	}

	ul.children {
		border: none;
		padding: 10px 0 0 20px;
		li {
			padding: 0;
			margin: 0;
			border: none;

			& + li {
				padding: 10px 0 0 0;
			}
			&:before {
				display: none;
			}
		}
	}
}

.widget.widget_product_search {
	.search-field {
		border-radius: 0 !important;
	}
}
