/* Single Product
-------------------------------------------------------------------*/
body.single-product,
body.post-type-archive-product,
body.tax-product_cat {
	.blog-top.row {
		display: none;
	}
}

body.single-product {
	.dfd-single-share-fixed,
	.dfd-woo-single-share-bottom {
		display: none;
	}

	.cart table.variations,
	.cart table.variations tr td.value {
		background: transparent !important;
	}

	.images .single-product-image .woocommerce-main-image {
	//	border: none;
	}

	.images .single-product-thumbnails .product-carousel {
		&:before, &:after {
			display: none;
		}
	}
	.images .single-product-thumbnails .product-carousel img {
		border: 1px solid #e5e5e5;
	}

	.product_title {
		font-family: $jenson;
		font-weight: normal;
		line-height: 1em;
		font-size: 32px;
		letter-spacing: 0;

		@include tablet-portrait {
			font-size: 48px;
		}
	}

	.dfd-shop-description {
		p {
			font-family: $jenson;
			font-size: 16px;
			line-height: 1.5em;
		}
	}

	.pp_gallery ul > li:only-child,
	.product-carousel .slick-track > .slick-slide:only-child {
		display: none;
	}

	.dfd-price-rating-wrap > .price-wrap .price .amount {
		font-family: $proxima-nova;
		font-size: 24px;
	}

	.quantity {
		border: 1px solid #e5e5e5;
		margin: 0 7px 0 0;
	}

	.cart .added_to_cart,
	.cart .single_add_to_cart_button {
		background: $green;
		font-family: $proxima-nova;
		opacity: 0.9;

		&:before {
			color: $white;
		}

		&:hover {
			opacity: 1;
			background: $green;
		}
	}

	.product-meta .posted_in {
		visibility: hidden;
	} 

	.product-meta > div > span .meta-heading {
		font-family: $proxima-nova;
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 12px;
		font-weight: bold;
		visibility: visible;
	}

	.product-meta > div > span.posted_in a {
		background: $green;
		color: $white;
		display: inline-block;
		padding: 2px 12px 0px 12px;
		font-family: $proxima-nova;
		font-weight: bold;
		visibility: visible;

		&:hover {
			color: $white;
		}

		&:before {
			display: none;
		}
	}

	.dk-select .dk-select-options li {
		font-family: $proxima-nova;
	}

	.dk-select .dk-select-options, .dk-select-multi .dk-select-options {
		border-radius: 0;
		font-family: $proxima-nova;
	}

	.dk-select .dk-selected, .dk-select-multi .dk-selected {
		border-radius: 0;
		font-family: $proxima-nova;
	}


	.tabs-content{

		p, ul, ol, li,
		table.shop_attributes {
			font-family: $jenson;
			font-size: 18px;
			line-height: 1.5em;
		}

		table.shop_attributes {
			background: transparent;
			th {
				font-family: $proxima-nova;
				font-weight: bold;
			}
		}

		#reviews {
			.box-name,
			#review_form #respond > h3,
			#review_form #respond form label {
				font-family: $proxima-nova;
			}
			
			#commentform #submit:not(.ubtn) {
				background: $green !important;
				padding: 15px 30px !important;
				height: auto !important;
				line-height: 1em !important;
				font-family: $proxima-nova !important;
			}

			.comment-form-rating {
				height: auto !important;
				line-height: 1em !important;


				label {
					display: block !important;
					float: none !important;
				}
				p.stars {
					float: none !important;
					transform: none !important;
					top: 0 !important;

					span a {
						line-height: 45px;

						&:before {
							top: -9px !important;
						}
					}
				}

			}


		}
		
	}



	.tabs.horisontal {
		padding: 50px 0 0 0;

		dd {

			a.box-name {
				border-radius: 0;
				font-family: $proxima-nova;
				font-weight: bold;
				
				&:before {
					display: none;
				}

			}
			

			&.active a.box-name {
				color: $white;
				background: $green;
				border: none;
			}

			&.reviews_tab {

			}
		}
	}

}
