body.woocommerce-order-received {

	.woocommerce-order {

		.woocommerce-order-overview {

			li {
				font-family: $proxima-nova;
			}

		}

	}
	.shop_table.order_details {
		&:before, &:after {
			display: none !important;
		}
	}

	#main-content .woocommerce {
		h2,
		h3,
		.shop_table th,
		.shop_table tr,
		.shop_table td {
			font-family: $proxima-nova !important;
		}

	} 


}


