body.woocommerce-page {


	div.page-title-inner {
		min-height: 240px;
		height: 240px;

		@include tablet-portrait {
			min-height: 400px;
			height: 400px;
		}
	}


	.product-ordering {
		position: static;
		padding-bottom: 40px;
	}

	.products {

		.product {
			padding: 0 25px;

			@include tablet-portrait {
				padding: 0 75px;
			}
		}

	}

	.click-dropdown {
		& > a {
			border-radius: 0;
			font-family: $proxima-nova;
			border: 1px solid #3f3f3f;
		}

		& > div ul li {
			font-family: $proxima-nova;
			color: #3f3f3f;
			border-bottom: 1px solid #e5e5e5;

			&:hover {
				background: #3f3f3f;
				color: $white;
			}
		}
	}

	.woocommerce-thankyou-order-received, .woocommerce-message, .woocommerce-error, .woocommerce-info {
		background: $white;
		border: 1px solid $green;
		color: $green;
		font-weight: bold;
		font-family: $proxima-nova;
		padding: 10px 20px;
		line-height: 1em;
		width: 100%;
		float: left;

		@include mobile-landscape {
			display: flex;
			float: none;
			align-items: center;
			justify-content: space-between;
		}


		li {
			font-family: $proxima-nova;
		}

		&:before,
		&:after {
			display: none;
		}

		.button {
			height: auto;
			padding: 5px 20px;
			background: $green;
			color: $white;
			font-family: $proxima-nova;
			clear: both;

			@include mobile-landscape {
				float: none;
				order: 2;
			}

			&:before {
				display: none;
			}

		}
	}

	.woocommerce label .required {
		border: none !important;
		text-decoration: none;
	}

	.select2-container .select2-selection {
		font-family: $proxima-nova;
		border-radius: 0 !important;

		&:hover {
			border-radius: 0;
		}

	}

	.select2-results__option {
		font-family: $proxima-nova;
		padding: 6px 10px;
	}

	.select2-search__field {
		font-family: $proxima-nova;
		font-weight: bold;
		padding: 0 10px;
		font-size: 18px;
	}

	.select2-dropdown {
		border-radius: 0 !important;
	}

}

body.archive {
	#layout .woo-page-title {
		display: none;
	}
}


.products .product .woo-cover .buttons-wrap a.add_to_wishlist {
	background: #772210 !important;
}

.shopping-cart-box {
	min-width: 250px;

	& * {
		font-family: $proxima-nova !important;
	}
	

	p.buttons a {
		letter-spacing: 0;
	}
}


body.my-account {


	#main-content {
		.woocommerce {
			max-width: 640px;
			margin: 0 auto;


			h2, form * {
				font-family: proxima-nova !important;
			}

			h2 {
				letter-spacing: 0;
				font-size: 2em;
				line-height: 1em;
				padding: 20px 0 10px 0;
				margin: 0;
			}

			.button {
				background: $green;
				color: $white;
				font-weight: bold !important;
				font-size: 12px !important;
				padding: 0 25px !important;
			}


		}

		.forum-login {
			padding: 10px;
			border: 1px solid #2a2a2a;
			max-width: 640px;
			margin: 0 auto 30px auto;

			a {
				color: $green;
				font-family: $proxima-nova;
				border-bottom: 1px dotted;
			}
		}

	}
}