/*
 Theme Name:   Ackerly Green
 Theme URI:    http://ackerlygreen.
 Description:  Ronneby Child Theme
 Author:       Andrew Lovseth
 Author URI:   http://andrewlovseth.com
 Template:     ronneby
 Version:      1.0.0
*/

/* Variables
-------------------------------------------------------------------*/
$white: #fff;
$green: #72984F;
$yellow: #ddc46d;

$jenson: "adobe-jenson-pro", Georgia, serif;
$proxima-nova: "proxima-nova", sans-serif;

/* Media Queries
----------------------------------*/

$mobile-portrait-width: 480px;
$mobile-landscape-width: 640px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;

@mixin mobile-portrait {
	@media screen and (min-width: #{$mobile-portrait-width}) {
		@content;
	}
}

@mixin mobile-landscape {
	@media screen and (min-width: #{$mobile-landscape-width}) {
		@content;
	}
}

@mixin tablet-portrait {
	@media screen and (min-width: #{$tablet-portrait-width}) {
		@content;
	}
}

@mixin tablet-landscape {
	@media screen and (min-width: #{$tablet-landscape-width}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$desktop-width}) {
		@content;
	}
}



/* Globals
-------------------------------------------------------------------*/
@import "header";
@import "footer";
@import "sidebars";


/* Templates
-------------------------------------------------------------------*/
@import "home";
@import "products";
@import "single-products";
@import "collections";

/* WooCommerce
-------------------------------------------------------------------*/

@import "woo-commerce";
@import "cart";
@import "checkout";
@import "thank-you";


body,
div.page-title-inner .breadcrumbs > nav {
	background: #fafafa !important;
}


body div.page-title-inner .page-title-inner-wrap {
	max-width: 600px;
	margin: 0 auto;
    background: url(images/dark-bg.png) repeat center center;
	padding: 80px 40px;
	border: 1px solid rgba(255, 255, 255, 0.4);
}

body div.page-title-inner .page-title {
	font-family: $jenson;
	font-weight: normal;
	font-style: normal;
	line-height: 1.125em;
	color: #eee !important;
	padding: 0;
	font-variant: small-caps;

}

body div.page-title-inner.page-title-inner-bgcheck .page-subtitle {
	padding: 40px 0 0 0;
	font-family: $jenson;
	font-style: normal;
	color: #eee !important;
	font-size: 24px;
	font-style: italic;

	&:before {
		content: '';
		display: block;
		width: 150px;
		height: 1px;
		background: $white;
		margin: 0 auto;
		position: relative;
		top: -20px;
	}
}


div.ppt {
	display: none !important;
}

div.pp_overlay, .dfd-fullscreen-video-container:before {
	opacity: 0.98 !important;
}

body.page-id-31950 #footer-wrap {
	display: none;
}






form.lost_reset_password {
	* {
		font-family: $proxima-nova;
	}

	.button:not(.ubtn) {
		background: $green;
		padding: 15px 30px;
		height: auto !important;
		line-height: 1em !important;
	}
}





