body.login {
  background: url(images/dark-bg.png) repeat center center !important;
}

.login #backtoblog a, .login #nav a {
  color: #eee !important;
}

body.login form p a {
  color: #72984F;
}

body.login form input:focus,
body.login form input:active {
    border-color: #72984F;
    -webkit-box-shadow: 0 0 2px rgba(114, 152, 79, 0.8);
    box-shadow: 0 0 2px rgba(114, 152, 79, 0.8);
}

body.login.wp-core-ui .button-primary {
  background: #72984F;
  color: #fff;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 10px 20px;
  height: auto;
  line-height: 1em;
  border-radius: 0;
}